<div class="container">
  <div class="row">
    <div class="col-sm-6 centered-form">
      <form action="/create" method="post">
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" name="name" class="form-control">
        </div>
        <div class="form-group">
          <label for="description">Description (150 words maximum)</label>
          <input type="text" name="description" class="form-control">
        </div>
        <!-- <div class="form-group">
          <label for="name">Ingredients</label>
          <input type="text" name="name" class="form-control">
        </div> -->
        <div class="form-group">
          <h3>Preparation</h3>
          <label for="dificulty">Dificulty</label>
          <input type="text" name="dificulty" class="form-control">
          <label for="timeForPreparaion">Time for Preparation (in minutes)</label>
          <input type="number" name="timeForPreparaion" class="form-control">
          <label for="StepByStep">Step by Step</label>
          <input type="text" name="StepByStep" class="form-control">
        </div>
        <div class="form-group">
          <label for="category">Category</label>
          <input type="text" name="category" class="form-control">
        </div>
        <button type="submit">Create</button>
      </form>
    </div>
  </div>
</div>

name          : String,
description   : String,
ingredients   : Array,
preparation   : {
                    dificulty : {
                                  type : String,
                                  enum : ["SuperStarterChef", "ChefWannaBe", "MasterChef"]
                                },
                    timeForPreparaion : Number,
                    StepByStep  : Array,
                  },
category      : { type: String, enum: TYPES, required: true },
rates         : { type: Schema.Types.ObjectId, ref: 'Comments'},
usersSaved    : Array,
usersDone     : Array,
_creator      : { type: Schema.Types.ObjectId, ref: 'User', required: true },
imgUrl     : { type: String, default: "https://placeholdit.imgix.net/~text?txtsize=33&txt=250%C3%97250&w=250&h=250" }
