<!-- views/index.ejs -->
<div class="container-fluid">
    <div class="home-heading text-center row">
        <div class="home-heading-wrapper">
            <h1>Greates Recipes in Here.</h1>
            <p>StrongFood is a recipee social network, where you can find and share great recipes!.</p>
            <a class="btn btn-default" href="#">Look for one!</a>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <img src="#" class="img-responsive" />
        <p class="text-center"><a href="javascript:void(0);">Taj Group</a></p>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <img src="#" class="img-responsive" />
        <p class="text-center"><a href="javascript:void(0);">Taj Group</a></p>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <img src="<%=arr.imgUrl%>" class="img-responsive" />
        <p class="text-center"><a href="javascript:void(0);">Taj Group</a></p>
    </div>
</div>
<div class="container-fluid informationandabaout">
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <h3>CREATE YOUR OWN RECIPES</h3>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <h3>SHARE RECIPES WHIT YOUR FRIENDS</h3>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <h3>LEARN HOW TO EAT HEALTHY</h3>
    </div>

</div>
