<!-- views/index.ejs -->
<div class="container-fluid">
  <div class="home-heading text-center row">
    <div class="home-heading-wrapper">
      <h1>Greates Recipes in Here.</h1>
      <p>StrongFood is a recipee social network, where you can find and share great recipes!.</p>
      <a class="btn btn-default" href="#">Look for one!</a>
    </div>
  </div>
</div>
