<!-- views/index.ejs -->
<div class="container-fluid">
    <div class="home-heading text-center row header-img">
        <div class="home-heading-wrapper">
            <h1 class="main-title">Greatest Recipes Here.</h1>
            <p>StrongFood is a recipee social network, where you can find and share great recipes!.</p>
            <a class="btn btn-default main-btn" href="/show-recipes">Look for one!</a>
        </div>
    </div>
    <div class="row about-row">
        <div class="col-sm-4 product">
          <div class="circle-container">
            <span class="glyphicon glyphicon-scale icon icon-home" aria-hidden="true"></span>
          </div>
          <h2 class="product-title">Weigth Control</h2>
          <p class="product-descr">
            Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vestibulum vehicula erat non congue cursus. Aenean auctor nulla quis augue dictum, sed sagittis odio varius
          </p>
        </div>
        <div class="col-sm-4 product">
          <div class="circle-container">
            <span class="glyphicon glyphicon-star icon icon-home" aria-hidden="true"></span>
          </div>
          <h2 class="product-title">Web Development</h2>
          <p class="product-descr">
            Duis tempus leo vitae ipsum viverra, blandit condimentum sapien porttitor. Duis porttitor sed metus eget mollis. Curabitur bibendum imperdiet tortor, ut pulvinar purus elementum nspendisse at erat luctus.
          </p>
        </div>
        <div class="col-sm-4 product">
          <div class="circle-container">
            <span class="glyphicon glyphicon-heart icon icon-home" aria-hidden="true"></span>
          </div>
          <h2 class="product-title">User Interface</h2>
          <p class="product-descr">
            Cras aliquet venenatis porttitor. Donec rutrum sapien et sapien dignissim, eu dapibus mi molestie. Suspendisse dictum convallis quam et sodales. Praesent non enim et magna congue gravida.
          </p>
        </div>

    </div>
    <div id="container-img-home" class="row">
      <div class="col-xs-3 img-container-home">
        <img src="img/img1.jpg" alt="" class="img-gallery-home">
        <img src="img/img2.jpeg" alt="" class="img-gallery-home">
        <img src="img/img3.jpg" alt="" class="img-gallery-home">
      </div>
      <div class="col-xs-3 img-container-home">
        <img src="img/img4.jpg" alt="" class="img-gallery-home">
        <img src="img/img5.jpg" alt="" class="img-gallery-home">
        <img src="img/img6.jpg" alt="" class="img-gallery-home">
      </div>
      <div class="col-xs-3 img-container-home">
        <img src="img/img7.jpg" alt="" class="img-gallery-home">
        <img src="img/img8.jpg" alt="" class="img-gallery-home">
        <img src="img/img9.jpg" alt="" class="img-gallery-home">
      </div>
      <div class="col-xs-3 img-container-home">
        <img src="img/img10.jpg" alt="" class="img-gallery-home">
        <img src="img/img11.jpg" alt="" class="img-gallery-home">
        <img src="img/img12.jpg" alt="" class="img-gallery-home">
      </div>
    </div>
    <div class="row last-about-row">
      <div class="last-row-wrapper">
          <h1 class="last-row-title">Start cooking now!</h1>
          <p class="last-row-subtitle">Don´t waste your time, and star searching<br /> for the best recipes in the world</p>
          <a class="btn btn-default main-btn" href="/show-recipes">Look for one!</a>
      </div>
    </div>

</div>
