<div class="container-fluid">
  <div class="row">
    <div class="col-md-5">
      <div class="img-main-fitness">

      </div>
    </div>
    <div class="col-md-7">
      <div class="show-rutine" id="generete-rutine">
        <button>Get a rutine!</button>
      </div>
      <div class="row rutine-log">
        <div class="col-xs-5 exercise-log">
          <h4>Exercise</h4>
        </div>
        <div class="col-xs-3 muscle-log">
          <h4>Muscle</h4>
        </div>
        <div class="col-xs-2 series-log">
          <h4>Series</h4>
        </div>
        <div class="col-xs-2 reps-log">
          <h4>Reps</h4>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="/javascripts/exercise.js"></script>
